<div class="widget">
	<h2>Quick Search</h2>
	<%= autocomplete_for_model('movie', 'title') %>
</div>
<% if !@latest_movies.nil? && !@latest_movies.empty? %>
<div class="widget">
	<h2>Latest Movies</h2>
	<ul>
		<% @latest_movies.each do |movie| %>
		<li><%= link_to(movie.title, :controller => "movies", :action => 'show', :id => movie.id) %></li>
		<% end %>
	</ul>
</div>
<% end %>
<% if !@tags.nil? && !@tags.empty? %>
	<div class="widget">
		<h2>Tags</h2>
	<% tag_cloud @tags, %w(css1 css2 css3 css4) do |tag, css_class| %>
    	<%= link_to tag.name, { :action => :tag, :id => tag.name }, :class => css_class %>
	<% end %>
	</div>
<% end %>