<% @titre = "Movies" %>
<div id="movielists" class="span-10">
<%= render :partial => "movie_list", :locals => {:movie_list => @movies, :boxtitle => "New Movies"} if ! @movies.blank? %>
<%= render :partial => "movie_list", :locals => {:movie_list => @unapproved_movies, :boxtitle => "Unapproved Movies", :page_param => :unapproved_page} if ! @unapproved_movies.blank? %>
</div>

<div id="mainmovie" class="span-10 last">
<%# render "movie_details", :locals => {:boxtitle => "Newest Addition" || @boxtitle, :movie => @movie || @movies.first } if @movie || @movies.first %>
</div>
