<h1>Movies</h1>
<%= render(:partial => "movie_highlight", :locals => {:movie => @movies.first }) if @movies.third %>

<div class="span-11 box">
	<h2>New Movies</h2>
<%= render(:partial => "movie_list", :object => @movies )%>
</div>

<div class="span-3 box">
	<h2>Actions</h2>
	<%= link_to 'New movie', new_movie_path %>
</div>