<% @titre = "Movies" %>
<div id="movielists" class="span-10">
<%= render(:partial => "movie_list", :object => @movies, :locals => {:boxtitle => "New Movies"}) if !@movies.empty? %>
<%= render(:partial => "movie_list", :object => @unapproved_movies, :locals => {:boxtitle => "Unapproved Movies"}) if @unapproved_movies %>
</div>

<div id="mainmovie" class="span-10 last">
<%= render(:partial => "movie_details", :locals => {:boxtitle => "Newest Addition" || @boxtitle, :movie => @movie || @movies.first }) if @movie || @movies.first %>
</div>
