body {
	background-color: #EEE;
}
.container {
	background-color: #FFF;
	width:1682px;
}
h3 span.subtitle {
	padding-left: 0px;
	font-size: 12px;
	font-weight: normal;
}
h5 {
	margin-bottom: 5px;
}
/* NAV SECTION */
#header {
	height: 1em;
	border-bottom: 1px solid #DDD;
	margin-bottom: 10px;
	padding: 0.5em 1em 1.5em 1em;
}
#tagline {
	width: 160px;
	color: #FFFFFF;
	position: absolute;
	text-align: right;
	top: 70px;
	left: 15px;
}
#account {
	float: right;
	height: 16px;
}
#wrapper {
	margin: 1em;
}
#logo {
	float: left;
	height: 100px;
}
#nav {
	float: left;
}
#nav ul {
	list-style-type: none;
	list-style-image: none;
}
#nav ul li {
	display: block;
	float: left;
	margin-right: 10px;
}
/*SIDEBAR SECTION*/
.sidebar {
	height: 100%;
}
.widget { 
	margin: 0px 1em 1em 1em;
}

#footer {
	margin-top: 10px;
	padding-top: 10px;
	border-top: 1px solid #DDDDDD;
}

/*GENERIC LIST STYLES*/
table tr.altrow {
	background-color: #d1e6f4;
}
table td.actions {
	width: 55px;
	padding: 5px;
}
.spethial h3 {
	margin-top: 3px;
	font-weight: bolder;
}
div.box {
	padding: 0px;
	background-color: #FFF !important;
}
h2 {
	font-size: 1em;
	margin: 0px 0px 4px 0px;
	border-bottom: 1px solid #CCCCCC;
}
textarea.inline, textarea.short {
	height: 2em;
}

/*FORM STYLES */
input.hidden {
	display: none;
}
input.autocomplete.quicksearch {
	color: #AAA;
}
input.autocomplete.focused {
	color: #222;
}
.ac_results {
	padding: 0px;
	border: 1px solid black;
	background-color: white;
	overflow: hidden;
	z-index: 99999;
}
.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}
.ac_results li {
	margin: 0px;
	padding: 2px 5px;
	cursor: default;
	display: block;
	/* 
	if width will be 100% horizontal scrollbar will apear 
	when scroll mode will be used
	*/
	/*width: 100%;*/
	font: menu;
	font-size: 12px;
	/* 
	it is very important, if line-height not setted or setted 
	in relative units scroll will be broken in firefox
	*/
	line-height: 16px;
	overflow: hidden;
}
.ac_loading {
	background: white url('indicator.gif') right center no-repeat;
}
.ac_odd {
	background-color: #eee;
}
.ac_over {
	background-color: #2F79BA;
	color: white;
}

/*SPECIFIC CONTAINERS */
.minialbum {
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #80BBD8;
	background:#C2E0EF;
	color:#092844;
}
.minialbum h5 {
	margin-bottom: 0px;
}
.minialbum h5 a {
	color:#000;
}
.minialbum h5 a:hover {
	color:#092844;
}
.minialbum p {
	margin-bottom: 0px;
}
.peg .pegedit {
	float: right;
	font-size: 10px;
	height: 16px !important;
	margin-right: 20px;
}
.peg p {
	margin-bottom: 4px;
}
.peg ul {
	padding-left: 0px;
	list-style-type: none;
}
.peg ul, .peg li {
	float: left;
	display: block;
}
.peg li {
	padding-right: 10px;
}
.peg td {
	padding: 1px;
}
.download {
	margin-bottom: 15px;
}