body {
	background-color: #EEE;
}
.container {
	background-color: #FFF;
}


/* NAV SECTION */
#header {
	height: 1em;
	border-bottom: 1px solid #DDD;
	margin-bottom: 10px;
	padding: 0.5em 1em 1.5em 1em;
}
#tagline {
	width: 160px;
	color: #FFFFFF;
	position: absolute;
	text-align: right;
	top: 70px;
	left: 15px;
}
#account {
	float: right;
	height: 16px;
}
#wrapper {
	margin: 1em;
}
#logo {
	float: left;
	height: 100px;
}
#nav {
	float: left;
}
#nav ul {
	list-style-type: none;
	list-style-image: none;
}
#nav ul li {
	display: block;
	float: left;
	margin-right: 10px;
}
/*SIDEBAR SECTION*/
.sidebar {
	height: 100%;
}
.widget { 
	margin: 0px 1em 1em 1em;
}

#footer {
	margin-top: 10px;
	padding-top: 10px;
	border-top: 1px solid #DDDDDD;
}

/*GENERIC LIST STYLES*/
table tr.altrow {
	background-color: #d1e6f4;
}
table td.actions {
	width: 55px;
	padding: 5px;
}
.spethial h3 {
	margin-top: 3px;
	font-weight: bolder;
}
div.box {
	padding: 0px;
	background-color: #FFF !important;
}
h2 {
	font-size: 1em;
	margin: 0px 0px 4px 0px;
	border-bottom: 1px solid #CCCCCC;
}
textarea.inline, textarea.short {
	height: 2em;
}
input.autocomplete {
	color: #AAA;
}