h1, h2, th {
	font-variant: small-caps;
}
table tr.altrow {
	background-color: #d1e6f4;
}

#header {
	background: transparent url("../images/header_bg.png") repeat-x;
	width: 100%;
	height: 100px;
}

#tagline {
	width: 160px;
	color: #FFFFFF;
	position: absolute;
	text-align: right;
	top: 70px;
	left: 15px;
}

#account {
	float: right;
	margin: 78px 10px 6px 10px;
	height: 16px;
}

#wrapper {
	margin: 1em;
}

#logo {
	float: left;
	height: 100px;
}

#nav {
	float: left;
	margin-top: 60px;
}

#nav ul {
	list-style-type: none;
	list-style-image: none;
}

#nav ul li {
	display: block;
	float: left;
	height: 30px;
	margin-right: 10px;
}

.spethial h3 {
	margin-top: 3px;
	font-weight: bolder;
}

.box {
	border: 1px solid #CCC;
	background-color: #FFF;
	border-radius: 5px;
	padding-top: 2px;
}
.box h2 {
	font-size: 1em;
	margin: 0px 0px 4px 0px;
	border-bottom: 1px solid #CCCCCC
}
